* {
    box-sizing: border-box;
    /* https://fonts.google.com */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.headerl {
    width: 50%;
    float: left;
    background-color: #B15AA1;
    color: black;
    text-align: right;
}

.headerr {
    width: 50%;
    float: right;
    background-color: black;
    color: #B15AA1;
}

img {
    width: 35%;
    height: auto;
}